

body {
  background-color: #230541;
}

.container {
  background-color: #7809e7;
  margin-top: 100px ;
  margin-bottom: 20px;
  border-radius: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
}

.createTask {
  width: 200px;
  margin-left: 100px
}
.form-createTask {
  padding-top: 5px;
}

.showTask {
  width: 600px;
  margin-right: 125px;
}
.form-showTask {
  background-color: #e9d3ff;
  border-width: 10px;
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.login {
  margin: auto;
  width: 700px;
  height: 300px;

}

.register {
  margin: auto;
  width: 700px;
  height: 400px;

}

.formL{
  margin: auto;
  width: 600px;

}
.formr{
  margin: auto;
  margin-top: 20px;
  width: 600px;
}
.formG{
  margin-bottom: 10px;
  width: 600px;
  font-style: italic;
}

.boton {
  background-color: #7809e7;
  margin-right: 75%;

}